# IntelliJ
*.idea
*.iml
*.iws
*.ipr

# Vscode
*.vscode

# Scala
*.class
*.log
*.lock
*.bsp

# sbt
target/
project/project/
project/target/
project/boot/
project/lib_managed/
project/lib/

# Metals
*.metals

# Resources
*resources